body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.LandingContent {
  padding: 30px;
   margin-top: 80px;
}

.grid-container {
  justify-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 24px;
  align-self: center;
  padding-bottom: 50px;
}

.grid-item {
  background-color: white;
  padding: 20px 10px 20px 10px;
  min-width: 270px;
  max-width: 320px;
  text-align: center;
  color: black;
  font-size: 32px;
  border: solid black 2px;
  box-shadow:black 3px 3px 3px;
  cursor: pointer;
}
.grid-item-services {
  max-width: 700px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 3px 5px 3px 5px;
  min-height: 500px;
  min-width: 400px;
}


.description {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 350px;


}
.container-services {
  margin-top: 10px;
  margin-left: 70px;
  grid-row-gap: 50px;
  grid-column-gap: 0px;
}

.detailed-info {
  max-width: 1100px;
  margin-left: 150px;
}

.createbutton {
  background-color: white;
  text-align: center;
  color: black;
  font-size: 20px;
  border: solid black 2px;
  box-shadow:black 3px 3px 3px;
  cursor: pointer;
  margin-top: 100px;
  margin-bottom: 32px;
}
.heart-icon{
  font-size: 15px;
  display: inline-block;
  /* margin-left: 800px; */
}

.comment-button {
  margin-left: 900px;
  /* display: inline-block */
}
.homepic {
  width: 300px;
  height: 180px;
  padding: 10px;
}

.checkbox {
  padding: 2px;
  margin: 2px;
}

.formtitle {
  font-size: 25px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;

}

nav {
  max-height: 70px;
}

.createform{
  margin: 2px;
}

.LandingContent-new{
  margin: 4px;
}

.usericon{
  font-size: 25px;
}

.ESOneContent {
  margin-top: 120px;
}

.delete {
  float: right;
  background-color:white;
  max-width: 35px;
  max-height: 35px;
  margin: 3px;
}

.edit {
  float: right;
  background-color: white;
  min-width: 25px;
  min-height: 25px;
  padding: 2px;
  margin: 2px;

}
